IDI_ICON1 ICON DISCARDABLE "/images/icon_w_m.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,0,0,1
PRODUCTVERSION 1,0,0,1
BEGIN
     BLOCK "StringFileInfo"
     BEGIN
     BLOCK "040904E4"
     BEGIN
          VALUE "CompanyName",     "Zelenskiy Co."
          VALUE "LegalCopyright",  "Zelenskiy Vladislav"
          VALUE "FileDescription", "Client for W_M app"
          VALUE "FileVersion",     "1.0.0.1"
          VALUE "ProductName",     "WMClient"
          VALUE "ProductVersion",  "1.0.0.1"
     END
     END

BLOCK "VarFileInfo"
       BEGIN
           VALUE "Translation", 0x409, 1259
       END
END
